
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
    font-weight: 300;
    background-color: #DB7093;
    padding:25px;
}
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar a:hover {
    color: orangered;
}
.routines {
    padding: 20px;
    background-color:#f9f9f9;
    border-radius: 10px;
    max-width: 1920px;
    margin: 20px auto;
}

.routines h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#DB7093
}

.routine-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.routine-item {
    text-align: center;
    width: 200px; 
    margin: 0 10px;
}

.routine-item img {
    width: 200px; 
    height: auto;
    border-radius: 8px;
}

.routine-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

#taskInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #DB7093;
    border-radius: 5px;
    font-size: large;
}

button {
    width: 100%;
    padding: 10px;
    background-color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.complete-btn, .delete-btn {
    margin-left: 10px;
    cursor: pointer;
}  
.skin-type {
    display: flex;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  
.skin-type h2 {
    color: #FF69B4;
    flex: 1;
    margin-left: 30px;
  }
  
.skin-type p {
    flex: 2;
    margin-right: 50px; 
  }
  
.skin-type ul {
    flex: 1;
    list-style-type: none; 
  }
.skin-type ul li {
    margin-bottom: 10px; 
  }














  /* Tabs */
.tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .tab-button.active {
    background-color:#DB7093;;
    color: white;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  /* Card styling */
  .tab-pane {
    display: none;
    text-align: center;
  }
  
  .tab-pane.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  